* {
	box-sizing: border-box;
}
body {
	font-family: san;
	
}

.header-menu{
	text-align: center;
	padding-top: 32px;
	padding-bottom: 32px;
}
.header-menu-link {
	color: black;
	text-align: center;
	text-decoration: none;
	padding-left: 72px;
}

.container {	
	margin: 0 auto;
	text-align: center;
	background-color: #00BDC9;
	padding-top: 96px;
	padding-bottom: 96px;
}
.hero {
	width: 856px;
	margin: 0 auto;
}
.hero-content {
	margin: 0 auto;
	text-align: center;
}
.hero-text-content span {
	color: #00BDC9;
}
.hero-list {
	font-size: 85%;
}

 .hero-d {
	margin: 0 auto;
	text-align: center;
 }
.hero-d-button {
	width: 145px;
   height: 44px;
	text-align: center;
	padding: 10px 24px;
	margin-top: 40px;
	background-color: #04959E;
	border: none;
	color: white;
}

footer {
	text-align: center;
	padding: 16px;
	margin-top: 88px;
	border-top: 1px solid #161616;
}
